html {
    display: flex;
    align-items: center;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    flex: 1;
}

* {
    font-family: 'Merienda One', cursive;
}

header {
    display: flex;
    border-bottom: thick solid teal;
    padding: 1em 2em;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

.profile-photo {
    height: 8em;
    border-radius: 50%;
}

.profile-section {
    padding: 1em 2em;
}

.experience-section {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px #eaeaea;
    margin: 1em 0;
}

.experience-section p {
    font-family: 'Raleway', sans-serif;
}

.experience-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .profile-photo {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}